.footer {
  padding: 64px 68px 24px;
}

.footer__copyright {
  font-size: 14px;
  text-align: center;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .footer__copyright {
    font-size: 18px;
  }
}
