
.photo-grid__container {
  max-width: 1187px;
  margin: auto;
  padding: 8vw 3vw 0;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.photo-grid__item {
  width: 100%;

}
