.places {
  padding: 31px 0 0;
}

@media screen and (min-width: 544px) {
  .places {
    padding: 75px 16px 0;
    margin: auto;
  }
}

@media screen and (min-width: 656px) {
  .places {
    padding: 64px 24px 0;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    padding: 56px 0 0;
  }
}

